@media (min-width: 768px) and (max-width: 1024px) {
    
    .navbar {
        display: none;
    }

    .content .introduction-container {
        height: fit-content;
    }
    
    .content .introduction-container button{
        display: none;
    }

    .content .introduction-container .rs{
        font-size: 150px;
    }

    .content .introduction-container .title{
        font-size: 60px;
    }

    .content .introduction-container .brief-description{
        font-size: 40px;
    }
    .content .skills-container .skills-description-text{
        width: 90%;
    }
    .content .skills-container p{
        font-size: 60px !important;
    }
    .content .skills-container .skills-description-text p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px !important;
        font-weight: normal;
        line-height: normal;
        text-align: justify;
    }
    .content .skills-container .skills{
        width: 90%;
    }
    .content .skills-container .skills h1{
        font-size: 60px;
    }
    .content .skills-container .timeline-wrapper .node h3{
        font-size: 40px !important;
        font-weight: bold;
    }
    .content .skills-container .timeline-wrapper .node h6{
        font-size: 35px !important;
    }
    .content .skills-container .timeline-wrapper .node p{
        font-size: 40px !important;
    }
    .content .skills-container  .habilities h1{
        font-size: 60px;
    }
    .content .skills-container  .habilities .skills-bar{
        width: 90%;
        flex-direction: column;
    }
    .content .skills-container  .habilities .skills-bar .first, .second{
        width: 100%;
        margin: 0 !important;
        padding: 0;
        padding-inline-start: 0 !important;
    }
    .content .skills-container  .habilities .skills-bar ul{
        padding-inline-start: 0 !important;
    }
    .content .skills-container  .habilities .skills-bar li{
        font-size: 35px;
    }
    .content .skills-container i{
        display: none;
    }
    .content .projects-container{
        height: fit-content;
    }
    .content .projects-container .title{
        font-size: 60px;
    }
    .content .projects-container .projects-grid{
        display: flex;
        flex-direction: column;
    }
    .content .projects-container .projects-grid .projects{
        max-width: none;
    }
    .content .projects-container .projects-grid .projects p{
        font-size: 50px;
    }
    .content .projects-container button{
        width: 50%;
        height: 80px;
        font-size: 30px;
    }
    .content .contact-container{
        max-width: none;
    }
    .content .contact-container .contact-informations .social{
        margin-top: 200px;
    }
    .content .contact-container .contact-informations .social a{
        text-align: center;
    }
    .content .contact-container .contact-informations .social img{
        width: 80px;
    }
    .content .contact-container .form form{
        width: 100%;
    }
    
    .content .contact-container .form form .title{
        font-size: 50px;
    }
    .content .contact-container .form form input, 
    .content .contact-container .form form textarea{
        margin-top: 10px;
    }
    .content .contact-container .form input, button, textarea{
        font: 400 30px Roboto, sans-serif;
    }
    
    .content .contact-container .form form input{
        width: 100%;
        height: 80px;
        max-width: 450px;
    }
    .content .contact-container .form form textarea{
        max-width: none;
    }
    .content .contact-container .form .button{
        height: 100px;
        font-size: 30px;
    }
}  
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
  
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    

    
  }