body {
    background-color: rgb(32, 32, 32);
    margin: 0;
}

@font-face {
    font-family: Kontanter;
    src: url(../fonts/Kontanter-Bold.otf)
}

/* TOPBAR */

.navbar {
    background-color: rgb(32, 32, 32);
}

.navbar .topbar {
    overflow: hidden;
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    background: rgba(32, 32, 32, 0.8);
    z-index: 99;
    transition: 1s;
}

.navbar .topbar .brand {
    margin-left: 20%;
    text-align: center;
}


.navbar .topbar .logo {
    max-width: 70px;
    height: 70px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}


.navbar nav {
    position: relative;
    float: right; 
    padding-right: 15%;
    top: 50%;
    transform: translateY(-50%); 
}

.navbar nav .nav-link {
    color:rgb(255, 255, 255) !important;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 14px 16px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.navbar nav .nav-link:before {
    content: "";
    position: absolute; 
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0); 
    transform: scaleX(0); 
    -webkit-transition: all 0.3s ease-in-out 0s; 
    transition: all 0.3s ease-in-out 0s; 
  }
  
.navbar nav .nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
/* FIM DO TOPBAR*/


::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(230,230,230,0.8); 
}

a{
    cursor: pointer;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*INICIO DO MAIN CONTENT*/
.content {
    height:81vh;
    align-items: center;
    text-align: center;
}

.content .introduction-container {
    padding-top: 100px;
    height:83.5vh;
    align-items: center;
}

.content .introduction-container .rs {
    font-family: Kontanter;
    color: white;
    position: relative;
    font-size: 100px;
    margin: 0;
    padding-top: 70px;
}

.content .introduction-container .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.content .introduction-container .brief-description {
    color: white;
    font-size: 20px;
}

.content .introduction-container .brief-description::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}

.content .introduction-container button {
    border-radius: 50px;
    width: 10%;
    padding: 10px;
    background-color: transparent;
    border: white solid;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 80px;
    transition: 0.3s;
}

.content .introduction-container button:hover {
    background-color: white;
    color: rgb(32, 32, 32);
    font-weight: 700;
}



.content .skills-container {
    height: fit-content;
    background-color: rgb(32, 32, 32);
}

.content .skills-container .title-skills {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-top: 70px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.content .skills-container .skills-description-text {
 width: 50%;
 text-align: center;
 margin: 0 auto;
}

.content .skills-container .skills-description-text p {
    color: white;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 20px;
}


.content .skills-container .card-body {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content .skills-container .card-body div {
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    background: rgb(64, 64, 64);
    border-radius:8px;
    padding: 70px 0;
}

.content .skills-container .card-body div img {
    max-width: 100px;
    color: white;
}

.content .skills-container .card-body div h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.content .skills-container .card-body .skills-description-paragraph {
    color: white;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
}

.content .skills-container .card-body .skills-description-topics {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.content .skills-container .card-body .habilities {
    color: white;
    font-size: 20px;
    margin: 7px;
    line-height: 27px;
 
}

.content .projects-container {
    height: max-content;
    background-color: rgb(255, 255, 255);
}

.content .projects-container .title{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

.content .projects-container .projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content .projects-container .projects-grid .projects{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;  
    margin-bottom: 70px; 
    transition: 0.3s;
}

.content .projects-container .projects-grid .projects img{
    width: 90%; 
}

.content .projects-container .projects-grid .projects:hover{
    z-index: 10;
    width: 90%;
}

.content .projects-container .projects-grid .projects p{
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;

}

.content .contact-container{
    height: 100vh;
}

.contact-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container section{
    width: 100%;
    max-width: 380px;

}

.contact-container section img{
    width: 300px;
    float: left;
}


.contact-container form{
    width: 100%;
    max-width: 500px;
}

.contact-container form input, 
.contact-container form textarea{
    margin-top: 8px;
}
input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

form input{
    width: 90%;
    max-width: 500px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea{
    width: 90%;
    max-width: 500px;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
}

.button{
    width: 100%;
    padding: 0 24px;
    height: 60px;
    background: rgb(90,90,90);
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover{
    filter: brightness(90%);
}



